<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Create Box</title>
</head>
<body>
    <form id="createBox"
        method="POST" action"/add">

        <input type="text" name="libelle">
        <input type="text" name="description>
        <input type="number" name="montant">

        <input type="submit" name="submit">
    </form>
</body>
</html>