{% extends "gift.main.twig" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul>
        {% for categ in categories %}
            <li><a href="{{ url_for('getCategoriesByIdAction', { 'id': categ.id }) }}">{{categ.libelle}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}