{% extends "gift.main.twig" %}

{% block title %}Categories{% endblock %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{{ base_path() }}/css/categories-style.css">
    </head>

    <h1>Categories</h1>
    <ul>
        {% for categ in categories %}
            <li><a href="{{ url_for('getCategoriesByIdAction', { 'id': categ.id }) }}">{{categ.libelle}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}