{% extends "gift.main.twig" %}

{% block title %}Prestations{% endblock %}

{% block content %}
    <h1>Prestations</h1>
    <ul>
        {% for presta in prestation %}
            <li><a href=" {{ url_for('getPrestationByIdAction', { 'id': presta.id })}}?id={{presta.id}}">{{ presta.libelle }}</a></li>
        {% endfor %}
    </ul>
{% endblock %} 

