#header {
    background-color: orange;
    padding: 10px 30px;
    margin: -10px;
    font-family: "Arial";
    display: flex;
    color: white;
}

img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }